<app-navbar></app-navbar>
<div class="container my-5 ">
  <h1 class="">Crear Nueva Cuenta. </h1>
  <br>
  <form>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="name" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
      <label for="nombre">Nombre de la cuenta</label>
    </div>
    <div class="form-floating">
      <input type="number" min="0" [(ngModel)]="saldo" class="form-control" id="valor_inicial" name="valor_inicial"
             placeholder="Valor inicial">
      <label for="valor_inicial">Saldo inicial de la cuenta</label>
    </div>
    <br>
    <input type="hidden" name="user" value="1">
    <button class="btn btn-lg btn-secondary" (click)="new_acount()" type="submit">Crear Nueva Cuenta</button>
  </form>
</div>
<app-footer></app-footer>
