<app-navbar></app-navbar>
<div class="container overflow-hidden my-5">
  <div class="row gy-5">
    <div class="bd-callout bd-callout-warning">
      <h5 id="date--color-input-support">Bienvenido...</h5>
      <p>Plataforma de Back-end </p>
      <p>
        Su empleador lo ha contratado para renovar su sistema financiero de gestión de cuentas de ahorro. Necesitamos una
        solución que se ajuste a las necesidades de la compañía, que permita ser competitivo en un mercado en el cual el
        tiempo de respuesta, confiabilidad y seguridad de la plataforma pueden decidir si la compañía continúa o no.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
